.arrow {
  background: none;
  outline: none;
  border: none;
}

.arrowBack {
  position: absolute;
  left: -20px;
  top: 46%;
  transform: translateY(-100%);
}

.arrowNext {
  position: absolute;
  right: -20px;
  top: 46%;
  transform: translateY(-100%) rotate(180deg);
  transform-origin: center center;
}

.container {
  width: calc(100% - 30px);
  position: relative;
}