@import "~variables/variables.scss";

.container {
  display: flex;
  border-radius: 5px;
  align-items: center;
  overflow: hidden;
  width: auto;
  border: 1px solid $black;
  height: 50px;
}

.option {
  display: flex;
  height: 100%;
  color: $black;
  background: $white;
  border-right: 1px solid $black;
  cursor: pointer;
  transition: all .3s;
  flex: 1 1;
  align-items: center;
  justify-content: center;
}

.option:last-child {
  border-right: 1px solid transparent;
}

.active {
  background: $black;
  color: $white;
}
