.container {
  padding: 0px 34px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title {
  font-family: 'Inter-Medium', 'Helvetica', 'Arial', sans-serif;
  margin-bottom: 30px;
}

.tabs, .button, .input {
  margin-bottom: 30px;
}
