@import "variables/variables.scss";

.container {
  padding: 70px 34px 0px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
  max-width: 420px;
  margin: 0 auto;
}

.title {
  font-family: 'Inter-Medium', 'Helvetica', 'Arial', sans-serif;
  margin-bottom: 30px;
  font-size: 22px;
}

.alert {
  margin-bottom: 30px;
}

.subtitle {
  margin-bottom: 30px;
  font-size: 18px;
}

.subtitle, .description {
  font-family: 'Inter-Regular', 'Helvetica', 'Arial', sans-serif;
}

.description {
  margin-bottom: 14px;
  font-size: 16px;
}

.description span {
  color: $grey;
}

.tabs, .button, .input {
  margin-bottom: 30px;
  width: 100%;
}

.singleNft {
  width: 100%;
}

.nftTokens {
  display: flex;
  position: relative;
  min-height: 300px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.loadingContainer {
  height: 140px;
  position: relative;
}
