.title {
  font-size: 24px;
  margin-bottom: 50px;
  font-family: 'Inter-Medium';
  max-width: 300px;
}

.alert {
  margin-bottom: 40px;
}

.subtitle {
  font-size: 18px;
  cursor: pointer;
  transition: all .3s;
  z-index: 2;
}
.content {
  width: 100%;
}

.button {
  margin-bottom: 50px;
  max-width: 100%;
}

.sliderShown .subtitle {
  animation: titleOut .5s forwards;
}

.sliderShown .slider {
  animation: sliderIn .5s forwards;
}

.slider {
  margin-left: 100%;
  opacity: 0;
  z-index: 1;
  margin-top: -40px;
  width: 100%;
}

@keyframes titleOut {
  0% {
    margin-left: 0%;
    opacity: 1;
  }

  80% {
    opacity: 0;
  }

  100% {
    opacity: 0;
    display: none;
    margin-left: -100%;
    z-index: 1;
  }
}

@keyframes sliderIn {
  0% {
    margin-left: 100%;
    opacity: 0;
  }

  80% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    display: block;
    margin-left: 0%;
    z-index: 2;
  }
}
