@import "variables";

.title {
  margin: 0 0 20px 0;
  font-size: 24px;
  font-family: 'Inter-Regular';
  font-weight: normal;
}

.subtitle {
  font-size: 16px;
  font-weight: normal;
  margin: 0 0 20px 0;
  font-family: 'Inter-Regular';
  a {
    color: $blackColor;
    transition: color .3s;
    &:hover {
      color: $dbBlue;
    }
  }
}

.container {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  flex-direction: column;
  text-align: center;
}

.button {
  button {
    background: $blackColor;
    border-radius: 5px;
    font-size: 16px;
    height: 40px;
    width: auto;
    min-width: auto;
    padding: 4px 50px;
    border: 1px solid #fff;
    font-family: 'Inter-Regular';
  }
}