@import "variables";

.container {
  font-size: 16px;
  height: 40px;
  width: auto;
  min-width: auto;
  padding: 4px 50px;
  border: 1px solid $whiteColor;

  &:not(.disabled):not(.transparent):hover {
    transition: all .3s;
    background-color: $dbBlue;
    border-color: $dbBlue;
  }
}

.disabled {
  color: $dbGrey;
  border-color: $dbGrey;
  cursor: not-allowed;
}

.transparent {
  background: transparent;
  color: $blackColor;
  border-color: $blackColor;
}
