@import "variables/variables.scss";

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 60px;
  text-align: center;
  max-width: 300px;
  margin: 0 auto;
  position: relative;
}
