@import "~variables/variables.scss";

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $black;
  height: 50px;
}

.title {
  font-size: 22px;
  flex: 1 0 190px;
  text-align: left;
  font-family: 'Inter-Medium';
}

.status {
  font-size: 18px;
  margin-right: 24px;
}

.link {
  font-size: 22px;
  color: $black;
}
