@import "variables";

.title {
  font-size: 24px;
  font-family: 'Inter-Medium';
  margin-bottom: 40px;
}

.button {
  margin-bottom: 15px;
  max-width: 300px;
}

.terms {
  margin-bottom: 25px;
  font-size: 14px;
  color: $textGreyColor;

  a {
    color: $textGreyColor;
  }
}

.tokenIcon {
  margin-bottom: 30px;
}

.wallet {
  font-size: 18px;
}

.wallet span {
  font-family: 'Inter-Medium';
}
