@import "variables";

.title {
  font-size: 24px;
  margin-bottom: 40px;
  span {
    font-family: 'Inter-Bold';
  }
}

.description {
  font-size: 14px;
  margin-bottom: 8px;
  color: $textGreyColor;
  a {
    color: $textGreyColor;
  }
}

.alert {
  margin-bottom: 40px;
  border-color: $unlockColor;

  path {
    fill: $unlockColor;
  }
}

.descriptionHidden {
  visibility: hidden;
  opacity: 0;
}

.button {
  max-width: 300px;
  min-width: 300px;
  margin-bottom: 40px;
}