@import "variables/variables.scss";

.input {
  width: 100%;
  margin-bottom: 20px;
}

.input, .button {
  font-family: 'Inter-Regular'!important;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  padding-top: 20px;
}

.qr {
  margin-bottom: 30px;
}

.copyBlock {
  margin-bottom: 20px;
}

.terms {
  margin-top: 20px;
  font-size: 14px;
  color: $black;

  a {
    color: $black;
  }
}

@media only screen and (max-width: 600px) {
  .copyBlock {
    max-width: 280px!important;
  }
}