@import "variables/variables.scss";

.input {
  width: 100%;
  margin-bottom: 20px;
}

.input, .button {
  font-family: 'Inter-Regular'!important;
}

.button {
  margin-bottom: 20px;
}

.loading {
  width: 340px;
}

.secondaryLoading {
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;

  &.rinkeby {
    .qr {
      margin-bottom: 10px;
    }

    .copyBlock {
      margin-bottom: 20px;
      border-color: $orange;

      & > div {
        &:first-child {
          color: $orange;
        }
      }
    }
  }
}

.containerCentered {
  height: 360px;
  justify-content: center;
}

.qr {
  margin-bottom: 40px;
}

.copyBlock {
  margin-bottom: 20px;
}

.terms {
  margin-top: 20px;
  font-size: 14px;
  color: $black;

  a {
    color: $black;
  }

  span {
    cursor: pointer;
    text-decoration: underline;
  }
}

.network {
  background: $orange;
  border-radius: 3px;
  color: $white;
  font-size: 14px;
  height: 20px;
  padding: 0px 5px;
  display: flex;
  line-height: 1;
  align-items: center;
  justify-content: center;
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .copyBlock {
    max-width: 280px!important;
  }

  .loading {
    width: 280px!important;
  }
}