@import "../variables/variables.scss";

.container {
  border-radius: 5px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  outline: none;
  border: 1px solid $black;
  font-size: 22px;
  color: $black;
  outline: none;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 400px;
  transition: all .6s;
  padding: 15px 10px;
  position: relative;
}

.content {
  flex: 1 0;
  padding-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}

.copyContent {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blink {
  border: 1px solid $green;
  background: rgba(43, 198, 79, .3);
}

.copyOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  animation: appear 1.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

@keyframes appear {
  0% {
    background: transparent;
    color: transparent;
  }

  40% {
    color: $white;
    background: $green;
  }

  100% {
    color: transparent;
    background: transparent;
  }
}
