@import "~variables/variables.scss";

.container {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid $black;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: $white;
}
