{
    "jsonRpcUrl": "",
    "apiHost": "",
    "claimHost": "",
    "networkId": "",
    "masterCopy": "",
    "factory": "",
    "receiverAddress": "",
    "token": "",
    "amount": "",
    "linksNumber": "",
    "nft": "",
    "nftIds": ""
}