{
    "network": "ropsten",
    "networkId": 3,
    "senderPrivateKey": "${SENDER PRIVATE KEY}",
    "token": "",
    "amount": 100,
    "linksNumber": "10",
    "jsonRpcUrl": "http://www.ropsten.infura.io/v3/${API}",
    "host": "localhost://3000/"
}