{
  "jsonRpcUrl": "https://rinkeby.infura.io",
  "host": "http://localhost:5000",
  "networkId": "4",
  "senderPrivateKey": "",
  "relayerPrivateKey:": "",
  "token": "",
  "amount": "",
  "linksNumber": "",
  "receiverAddress": "",
  "masterCopy": "",
  "factory": "",
  "nft": "",
  "nftIds": "[1,2,3]"
}