{
    "jsonRpcUrl": "",
    "host": "",
    "networkId": "",
    "linkdropSignerPrivateKey": "",
    "masterCopy": "",
    "factory": "",
    "receiverAddress": "",
    "weiAmount": "",
    "tokenAddress": "",
    "tokenAmount": "",
    "linksNumber": "",
    "nftAddress": "",
    "nftIds": ""
}