{
    "networkId": "",
    "senderPrivateKey": "",
    "token": "",
    "amount": "",
    "linksNumber": "",
    "jsonRpcUrl": "",
    "host": "",
    "receiverAddress": "",
    "masterCopy": "",
    "factory": ""
}