@import "../variables/variables.scss";

.container {
  display: flex;
  align-items: flex-start;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
  justify-content: center;
  text-align: center;
  height: 50px;
  font-size: 18px;
  font-family: 'Inter-Medium';
  color: $grey;

  span {
    color: $black;
  }
}
