@import "variables";

.container {
  min-width: 257px;
  height: 100vh;
  position: relative;
  padding: 25px 0px 40px;
  background: $blackColor;
  display: flex;
  flex-direction: column;
}

.logo {
  cursor: pointer;
  display: block;
  margin: 0 auto 60px;
  width: 118px;
}

.link {
  color: $textGreyColor;
  text-decoration: none;
  transition: color .3s;

  &:hover {
    color: $dbBlue;
  }
}

.menuItem {
  color: $whiteColor;
  font-size: 20px;
  margin-bottom: 26px;
  height: 40px;
  line-height: 40px;
  border-left: 10px solid transparent;
  transition: border-color .3s;

  &.active {
    border-color: $dbBlue;
    font-family: 'Inter-Medium';
  }

  &.disabled {
    color: $textGreyColor;
    font-size: 20px;
    a {
      cursor: not-allowed;
      color: $textGreyColor;
    }
  }

  a {
    text-decoration: none;
    color: $whiteColor;
    padding-left: 40px;
    display: inline-block;
    width: 100%;
    height: 100%;
  }
}

.buttonContainer {
  padding: 10px 50px 0px;
}

.button {
  border: 1px solid $whiteColor;

  &.buttonDisabled {
    background: transparent!important;
    border: 1px solid $dbGrey!important;
    color: $dbGrey!important;
  }
}

.footerMenu {
  display: flex;
  margin-bottom: 20px;
  padding: 0px 50px;
  justify-content: space-between;
}

.mainBlock {
  flex: 1 0;
}

.copyright {
  padding: 0px 50px;
}

.copyright, .menu, .dashboard {
  color: $dbGrey;
  font-size: 15px;
}