.icon {
  max-width: 100%;
}

.title {
  font-size: 35px;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.button {
  margin-bottom: 50px;
  max-width: 300px;
}

.tokenIcon {
  margin-bottom: 30px;
}

.wallet {
  font-size: 18px;
}

.wallet span {
  font-family: 'Inter-Medium';
}
