@import "~variables/variables.scss";

.container {
  width: 80px;
  height: 80px;
  border-radius: 80px;
  border: 1px solid $black;
  display: flex;
  align-items: center;
  justify-content: center;
}
