@import "variables";

.container {
  height: 130px;
  display: flex;
  width: 100%;
  align-items: center;
}

.title {
  font-size: 24px;
  margin-right: 40px;
  line-height: 1;
  color: $blackColor;
}