@import "../variables/variables.scss";

.container {
  border-radius: 5px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  outline: none;
  border: 1px solid $black;
  font-size: 22px;
  color: $black;
  outline: none;
  padding: 0 10px;
}

.disabled {
  opacity: .6;
  cursor: not-allowed;
}

.container::placeholder {
  color: $black;
  opacity: 1;
}