@import "variables/variables.scss";

.container {
  border: 1px solid $black;
  background: $black;
  padding: 4px 10px;
  border-radius: 5px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 340px;
  color: $white;
  cursor: pointer;
  font-size: 22px;
  outline: none;
  font-family: 'Inter-Medium';
}

.container svg {
  margin-right: 10px;
}

.disabled {
  opacity: .5;
  cursor: not-allowed;
}

.inverted {
  background: $white;
  color: $black;
  border: 1px solid $black;
}

.smallSize {
  font-size: 18px;
  height: 40px;
  padding: 8px 10px;
  width: auto;
  font-family: 'Inter-Regular';
}