@import "../variables/variables.scss";

.container {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.disabled {
  cursor: not-allowed;
}

.checkIcon {
  border-radius: 3px;
  width: 20px;
  position: relative;
  height: 20px;
  border: 1px solid $black;
}

.title {
  font-size: 16px;
  padding-left: 10px;
}