@import "variables/variables.scss";

.container {
  max-width: 1280px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto 70px;
  align-items: center;
}

.notification {
  background: $orange;
  border-radius: 5px;
  font-size: 18px;
  color: $white;
  display: flex;
  align-items: center;
  max-width: 670px;
  min-height: 50px;
  padding: 6px 20px;
  width: 100%;

  a {
    text-decoration: underline;
  }
}

.links {
  display: flex;

  a {
    margin-left: 50px;
    font-size: 18px;
    text-decoration: none;
    color: $black;
  }
}

@media only screen and (max-width: 600px) {
  .links {
    display: none;
  }

  svg {
    margin-bottom: 10px;
  }

  .container {
    justify-content: center;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
  }
}
