.container {
  max-width: 1280px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 0 auto 70px;
}

.links {
  display: flex;

  a {
    margin-left: 50px;
    font-size: 18px;
  }
}

@media only screen and (max-width: 600px) {
  .links {
    display: none;
  }

  .container {
    justify-content: center;
    margin-bottom: 30px;
  }
}
